In [1]:
1+1

2

In [2]:
2-1

1

In [3]:
x=4
y=5

In [4]:
z=6

In [5]:
x-z+y

3

In [7]:
print(x)

4

In [8]:
b = "Hello"

In [9]:
b

'Hello'

In [10]:
print(b)

Hello

In [11]:
age = 30
name = "Emeka"

In [14]:
print('My name is: {one}, and my age is: {two}'.format(one=name, two=age))

My name is: Emeka, and my age is: 30

In [17]:
print('My name is '+name)

My name is Emeka

In [18]:
[1, 2, 3, 4]

[1, 2, 3, 4]

In [19]:
[1, 'Chika', 2, 3, 4]

[1, 'Chika', 2, 3, 4]

In [21]:
mylist = [1, 'Chika', 2, 3, 4, 67, 9]

In [22]:
print(mylist)

[1, 'Chika', 2, 3, 4, 67, 9]

In [25]:
mylist.append('Dalu')

In [26]:
mylist

[1, 'Chika', 2, 3, 4, 67, 9, 3, 'Dalu']

In [28]:
mylist.append(5)

In [30]:
mylist[0]

1

In [31]:
mylist[9]

5

In [32]:
mylist

[1, 'Chika', 2, 3, 4, 67, 9, 3, 'Dalu', 5]

In [33]:
mylist[0] = "Ebuka"

In [34]:
mylist

['Ebuka', 'Chika', 2, 3, 4, 67, 9, 3, 'Dalu', 5]

In [35]:
mylist[3:]

[3, 4, 67, 9, 3, 'Dalu', 5]

In [36]:
mylist[:3]

['Ebuka', 'Chika', 2]

In [40]:
nest = [1,3,5,[7,2,['Target'],4]]

In [41]:
nest[3]

[7, 2, ['Target'], 4]

In [43]:
nest[3][1]

2

In [44]:
nest[3][2]

['Target']

In [47]:
nest[3][2][0]

'Target'

In [48]:
# This is the continuation of basic python with Jupter notebook

In [49]:
# We can start Numpy now