Importing Pandas

In [2]:
import pandas as pd

In [7]:
project = pd.read_excel("Project1.xlsx")

In [8]:
project

             Agent  Perm  EOR
0    Silicon Oxide  1211  356
1  Aluminium Oxide  1214  729
2  Magnesium Oxide   911  250

In [9]:
project.head()

             Agent  Perm  EOR
0    Silicon Oxide  1211  356
1  Aluminium Oxide  1214  729
2  Magnesium Oxide   911  250

In [10]:
project.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
Agent    3 non-null object
Perm     3 non-null int64
EOR      3 non-null int64
dtypes: int64(2), object(1)
memory usage: 152.0+ bytes